<table>
  <tr>
    <td><%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: "jpg" %></td>
  </tr>
  <tr>
    <td>name</td>
    <td><%= user.name %></td>
  </tr>
  <tr>
    <td>introduction</td>
    <td><%= user.introduction %></td>
  </tr>
  <th><%= link_to "編集", edit_user_path %></th>
</table>